<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.exam.model.dao.AttractionDao">

    <select id="search" resultType="java.util.Map">
        SELECT
            content_id as "contentid",
            title,
            addr1,
            addr2,
            tel,
            latitude as "mapy",
            longitude as "mapx",
            first_image1 as "firstimage",
            first_image2 as "firstimage2",
            area_code as "areaCode",
            si_gun_gu_code as "sigunguCode",
            content_type_id as "contentTypeId"
        FROM
            attractions
        <where>
            <if test="areaCode != null">
                AND area_code = #{areaCode}
            </if>
            <if test="sigunguCode != null">
                AND si_gun_gu_code = #{sigunguCode}
            </if>
            <if test="contentTypeId != null">
                AND content_type_id = #{contentTypeId}
            </if>
        </where>
        ORDER BY
            title
        LIMIT #{limit} OFFSET #{offset}
    </select>

</mapper>
