<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.gitaek.mapper.UserMapper">

	<insert id="insertUser" parameterType="com.ssafy.gitaek.model.User">
		INSERT INTO Users (email, password, nickname, phone_number, role, created_at)
		VALUES (#{email}, #{password}, #{nickname}, #{phoneNumber}, #{role}, NOW())
	</insert>

	<select id="selectUserByEmail" resultType="com.ssafy.gitaek.model.User">
		SELECT user_id AS userId, 
		       email, 
		       password, 
		       nickname, 
		       phone_number AS phoneNumber,
		       role, 
		       created_at AS createdAt
		  FROM Users
		 WHERE email = #{email}
	</select>
	
	<select id="checkEmailExists" resultType="int">
		SELECT COUNT(*) FROM Users WHERE email = #{email}
	</select>

	<select id="selectUserById" resultType="com.ssafy.gitaek.model.User">
		SELECT user_id AS userId, email, password, nickname, phone_number AS phoneNumber, role, created_at AS createdAt
		  FROM Users WHERE user_id = #{userId}
	</select>

	<select id="selectUserByEmailAndNick" resultType="com.ssafy.gitaek.model.User">
		SELECT user_id AS userId, email, nickname FROM Users WHERE email = #{email} AND nickname = #{nickname}
	</select>

	<update id="updateUser" parameterType="com.ssafy.gitaek.model.User">
		UPDATE Users
		   SET nickname = #{nickname},
		       phone_number = #{phoneNumber}
		 WHERE user_id = #{userId}
	</update>

	<update id="updatePassword" parameterType="com.ssafy.gitaek.model.User">
		UPDATE Users SET password = #{password} WHERE user_id = #{userId}
	</update>

	<select id="countUserList" resultType="int">
		SELECT COUNT(*) FROM Users
		<where>
			<if test="type == 'email'">AND email LIKE CONCAT('%', #{keyword}, '%')</if>
			<if test="type == 'nickname'">AND nickname LIKE CONCAT('%', #{keyword}, '%')</if>
		</where>
	</select>

	<select id="selectUserList" resultType="com.ssafy.gitaek.model.User">
		SELECT user_id AS userId, email, nickname, role, created_at AS createdAt
		  FROM Users
		<where>
			<if test="type == 'email'">AND email LIKE CONCAT('%', #{keyword}, '%')</if>
			<if test="type == 'nickname'">AND nickname LIKE CONCAT('%', #{keyword}, '%')</if>
		</where>
		 ORDER BY user_id DESC
		 LIMIT #{limit} OFFSET #{offset}
	</select>

	<update id="updateUserRole">
		UPDATE Users SET role = #{role} WHERE user_id = #{userId}
	</update>
	
	<delete id="deleteUser">
        DELETE FROM Users WHERE user_id = #{userId}
    </delete>

	<select id="checkNicknameExists" resultType="int">
		SELECT COUNT(*) FROM Users WHERE nickname = #{nickname}
	</select>
</mapper>